body {
  font-family: sans-serif;
  margin: 0;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-area {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: antiquewhite;
}

input {
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 16px;
}

button {
  margin: 4px;
}

.todo-area {
  min-height: 70vh;
  width: 100%;
  display: flex;
}

.incomplete-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.complete-area {
  background-color: black;
  color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;
}

.title {
  background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bolder;
  font-size: 24px;
}
